{{#>layout currentPage = 'My Project'}}
        
        <div class="container-sm mt-4">
            <h1 style="text-align: center;">PROJECTS</h1>
            
            <div class="d-flex justify-content-center">
            <a href="/project-submit" class="btn btn-primary">Submit Project</a>
            </div>
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center mt-4">
                {{#each projects}}
                <div class="col">
                    <div class="card h-100" style="max-height: 500px; overflow:hidden"> 
                        <img src="{{this.img}}" class="card-img-top" alt="ilustrasi" style="max-height: 200px;">
                        <div class="card-body">
                            <a href="/project/{{this.id}}" style="text-decoration: none; color:black" >
                            <h5 class="card-title">{{this.projectName}}</h5>
                            </a>
                            
                            <p style="font-size: 12px; color: gray">durasi: {{duration this.startAt this.endAt}}<br>
                            {{rangeDuration this.startAt this.endAt}}<br>
                            by: {{this.user.username}}
                            </p>
                            <p class="text-truncate" style="max-width:250px">{{this.desc}}</p>
                            <div class="row justify-content-start">
                                {{#each this.tech}}
                                <div class="col-auto">
                                    <img src="/assets/img/tech/{{this}}.svg" style="width: 40px;">
                                </div>
                                {{/each}}
                            </div>
                            <div class="mt-3">
                                <div class="row g-2">
                                    <div class="col">
                                        <a href="/project-update/{{this.id}}" class="btn btn-warning w-100">Update</a>
                                    </div>
                                    <div class="col">
                                        <form id="deleteProject" action="/project/{{this.id}}?_method=DELETE" method="post">
                                            <button onclick="deleteConfirm(event)" class="btn btn-danger w-100">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>    
                {{/each}}
            </div>
        </div>

        <script src="/assets/js/SweetAlert.js"></script>
{{/layout}}