{{#>layout currentPage = 'Project'}}
        
        <div class="my-project">
            <h1>MY PROJECT</h1>
            <div>
                <a href="/project-submit" class="links-contact-button">submit project</a>
            </div>
            <div class="projects-list">
                {{#each projects}}
                <article class="project-element">
                    <img class="project-pic" src={{this.img}}>
                    <a href="/project/{{this.id}}" >
                        <h1>{{this.projectName}}</h1>
                    </a>
                    <p class="duration">durasi: <br>
                    {{this.startAt}} - {{this.endAt}}
                    </p>

                    <p>{{this.desc}}</p>
                    <div class="downloadOn">
                        <img src="/img/icon/playstore.png">
                        <img src="/img/icon/android.png">
                        <img src="/img/icon/java.png">
                    </div>
                    <div class="project-item-buttons">
                        <a href="/project-update/{{this.id}}"><button class="edit-button">update</button>
                        </a>
                        <form action="/project/{{this.id}}?_method=DELETE" method="post">
                            <button onclick="return confirm('Are you sure you want to delete?')" class="delete-button">Delete</button>
                        </form>
                        
                    </div>
                </article>
                {{/each}}
            </div>
            
        </div>

        <script src="/js/project-form.js">
        </script>
{{/layout}}